{%extends 'df_goods/base.html'%}

{%block content1%}
<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{cur_type.title}}</a>
	</div>
{%endblock content1%}

{%block content2%}

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/list{{tid}}_{{page.number}}/?orderby=n" {%if orderby == "n"%}class="active"{%endif%}>最新</a>
				<a href="/list{{tid}}_{{page.number}}/?orderby=p" {%if orderby == "p"%}class="active"{%endif%}>价格</a>
				<a href="/list{{tid}}_{{page.number}}/?orderby=c" {%if orderby == "c"%}class="active"{%endif%}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {%for item in page%}
				<li id="goods_info">
					<a href="/{{item.id}}/"><img src="/static/{{item.pic}}"></a>
					<h4><a href="#">{{item.title}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{item.price}}</span>
						<span class="unit">{{item.price}}/{{item.unit}}</span>
						<a href="javascript:;" class="add_goods" title="加入购物车" value="{{item.id}}"></a>
					</div>
				</li>
                {%endfor%}
			</ul>

			<div class="pagenation">
                {%if page.has_previous%}
				<a href="/list{{tid}}_1/">首页</a>
				<a href="/list{{tid}}_{{page.number|add:-1}}/?orderby={{orderby}}"><上一页</a>
                {%endif%}

            {%for index in page.paginator.page_range%}
                {%if index == page.number%}
				    <a href="#" class="active">{{index}}</a>
                {%else%}
				    <a href="/list{{cur_type.id}}_{{index}}/?orderby={{orderby}}">{{index}}</a>
                {%endif%}
            {%endfor%}

                {%if page.has_next%}
				<a href="/list{{tid}}_{{page.number|add:1}}/?orderby={{orderby}}">下一页></a>
                {%endif%}
			</div>
		</div>

<script text="text/javascript">
	var $add = $(".add_goods");
	var $cart = $("#show_count");
//	$("#goods_info").each(function () {
//		$(this).find(".add_goods").click(function () {
	$(".add_goods").click(function () {
		var gid = $(this).attr("value");
			$.get("/cart/add/", {"gid":gid, "count":1}, function (data) {
		if(data.is_login==0){
			location.href = "/user/login/";
			return;
		}
		else{
			$cart.html(data.count)
		}
		});
	});
</script>




{%endblock content2%}

